<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright (C) 2011 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<!--
| ============================================================================ |
|      Modifications on Features list / Changes Request / Problems Report      |
| **************************************************************************** |
|    date   |        author        |         Key          |      comment       |
| **********|**********************|**********************|******************* |
| 08/29/2013|    Anming.Wei        |        467596        |porting cellbroadc  |
|           |                      |                      | ast feature from d |
|           |                      |                      | iablo to miata     |
| **********|**********************|**********************|******************* |
| 09/06/2013|        yugang.jia    |      FR-516039       |[SMS]Cell broadcast |
|           |                      |                      | SMS support        |
| **********|**********************|**********************|******************* |
| **********|**********************|**********************|******************* |
| 10/12/2013|        yugang.jia    |      FR-467552       |[SMS]Cell broadcast |
|           |                      |                      | Alert support      |
| **********|**********************|**********************|******************* |
| 10/21/2013|wei.guo               |FR472621              |Arabic & Farsi supp |
|           |                      |                      |ort                 |
| **********|**********************|**********************|******************* |
| 11/01/2013|jinren.zhu            |FR526419              |DNA style pictures  |
|           |                      |                      |    for framework   |
| **********|**********************|**********************|******************* |
================================================================================
-->
<!--[FEATURE]-Mod-BEGIN by TCTNB.wei.guo,10/21/2013,FR472621,-->
<!--Arabic & Farsi support-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.cellbroadcastreceiver"
        android:sharedUserId="android.uid.system"
        android:versionCode="021706311"
        android:versionName="v6.0.0.0.0328.0">

    <original-package android:name="com.android.cellbroadcastreceiver" />
<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="24" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_EMERGENCY_BROADCAST" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />

<!--zyc delete android:allowSkinChange="true" of application-->
    <application android:name="CellBroadcastReceiverApp"
            android:label="@string/app_label"
            android:icon="@mipmap/ic_launcher_cell_broadcast"
            android:theme="@style/CbHolo_Ex_Theme_M"
            android:supportsRtl="true">

        <service android:name="CellBroadcastAlertAudio"
                 android:exported="false" />

        <service android:name="CellBroadcastAlertService"
                 android:exported="false" />

        <service android:name="CellBroadcastConfigService"
                 android:exported="false" />

        <service android:name="CellBroadcastAlertReminder"
                 android:exported="false" />

        <provider android:name="CellBroadcastContentProvider"
                  android:authorities="cellbroadcasts"
                  android:readPermission="android.permission.READ_CELL_BROADCASTS" />

        <!--[FEATURE]-Add-BEGIN by TSNJ.wei.li, PR-809569,
           move CellBroadcastContentProvider from TelephonyPovider to CB-->
        <provider
            android:name="CellBroadcastProvider"
            android:authorities="com.jrd.provider.CellBroadcast"
            android:exported="true" />
        <!--[FEATURE]-Add-END by TSNJ.wei.li, PR-809569,-->

        <!--[BUGFIX]-Add-BEGIN by TSNJ.(haibin.yu),12/24/2013,PR-566886,-->
        <activity android:name="CellBroadcastListActivity"
                  android:label="@string/app_label"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTask"
                  android:theme="@style/CbHolo_Ex_Theme_M">
        <!--[BUGFIX]-Add-END by TSNJ.(haibin.yu),-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
<!-- Uncomment this category to show the Cell Broadcasts launcher icon.
     Otherwise, set "config_cellBroadcastAppLinks" to true in a config.xml overlay
     to add links to Cell Broadcast activities via Settings and MMS menu items.
                <category android:name="android.intent.category.LAUNCHER" />
 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.cellbroadcastreceiver.UPDATE_LIST_VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- add by liang.zhang for Defect 6272370 at 2018-05-04 begin -->
        <activity android:name="WPASAlertListActivity"
                  android:label="@string/wpas_alerts_inbox_summary"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTask"
                  android:theme="@style/CbHolo_Ex_Theme_M">
        </activity>
        <!-- add by liang.zhang for Defect 6272370 at 2018-05-04 end -->

        <!-- Settings opened by ListActivity menu, Settings app link or opt-out dialog. -->
        <!--[BUGFIX]-Add-BEGIN by TSNJ.(haibin.yu),12/24/2013,PR-566886,-->
        <activity android:name="CellBroadcastSettings"
                  android:label="@string/pws_other_message_identifiers"
                  android:launchMode="singleTask"
                  android:exported="true"
                  android:configChanges="orientation|screenSize|fontScale|locale|layoutDirection"
                  android:theme="@style/CbHolo_Ex_Theme_M" />
        <!-- Add by liang.zhang for Defect 6511785 at 2018-07-06 begin -->
        <activity android:name="GeneralPreference"
                  android:label="@string/title_cbsetting"
                  android:launchMode="singleTask"
                  android:exported="true"
                  android:configChanges="orientation|screenSize|fontScale|locale|layoutDirection"
                  android:theme="@style/CbHolo_Ex_Theme_M" />
        <!-- Add by liang.zhang for Defect 6511785 at 2018-07-06 end -->
        <!--[BUGFIX]-Add-END by TSNJ.(haibin.yu),-->
        <activity android:name="DeveloperSettings"
                  android:label="@string/sms_cb_settings"
                  android:launchMode="singleTask"
                  android:exported="true"
                  android:configChanges="orientation|screenSize|fontScale|locale|layoutDirection"
                  android:theme="@android:style/Theme.Material"/>

        <activity android:name="CellBroadcastAlertDialog"
                  android:theme="@android:style/Theme.Material.Dialog"
                  android:launchMode="singleTask"
                  android:exported="false"
                  android:configChanges="orientation|keyboardHidden|keyboard|navigation|screenSize" />

        <!-- Full-screen version of CellBroadcastAlertDialog to display alerts over lock screen. -->
        <activity android:name="CellBroadcastAlertFullScreen"
                  android:excludeFromRecents="true"
                  android:theme="@style/AlertFullScreenTheme"
                  android:launchMode="singleTask"
                  android:exported="false"
                  android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

        <!-- Container activity for CMAS opt-in/opt-out dialog. -->
        <activity android:name="CellBroadcastOptOutActivity"
                  android:exported="false" />

        <!-- Require sender permissions to prevent SMS spoofing -->
        <receiver android:name="PrivilegedCellBroadcastReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_EMERGENCY_CB_RECEIVED" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_CB_RECEIVED" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_SERVICE_CATEGORY_PROGRAM_DATA_RECEIVED" />
            </intent-filter>

            <!-- [BUGFIX]-Add-BEGIN by TCTNB.yugang.jia,09/06/2013,516039,-->
            <intent-filter>
                <action android:name="android.intent.action.SERVICE_STATE" />
            </intent-filter>
            <!-- //[BUGFIX]-Add-END by TCTNB.yugang.jia -->
        </receiver>

        <!-- Require sender permission for querying latest area info broadcast -->
        <receiver android:name="PrivilegedCellBroadcastReceiver"
            android:permission="android.permission.READ_PHONE_STATE">
            <intent-filter>
                 <action android:name="android.cellbroadcastreceiver.GET_LATEST_CB_AREA_INFO" />
            </intent-filter>
        </receiver>
        <!-- [FEATTURE]-MOD-BEGIN by TCTNB.yugang.jia,09/16/2013,516039,-->
        <receiver android:name="CellBroadcastTestReceiver">
            <intent-filter>
                 <action android:name="com.tcl.cmas.ADD_CMAS_MESSAGE" />
            </intent-filter>
        </receiver>
        <!-- [FEATTURE]-MOD-END by TCTNB.yugang.jia,09/16/2013,516039,-->

        <receiver android:name="CellBroadcastReceiver">
            <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <intent-filter>
                 <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
    <!--[FEATURE]-Add-BEGIN by TSNJ.Anming.Wei,29/08/2013,FR-467596,                  -->
    <!--[SMS]Cell broadcast SMS support-->
            <intent-filter>
                 <action android:name="com.android.cellbroadcastreceiver.setstartup" />
            </intent-filter>
    <!--[FEATURE]-Add-END by TSNJ.Anming.Wei-->
     <!-- [BUGFIX]-Add-BEGIN by TCTNB.yugang.jia,09/06/2013,516039,-->
            <intent-filter>
                 <action android:name="com.android.CellBroadcast.resetEmergAlert" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.broadcast.resetcd" />
            </intent-filter>
            <!-- [BUGFIX]-Add-end by TCTNB.yugang.jia,09/06/2013,516039,-->
            <!-- add by liang.zhang for Defect 5769404 at 2017-12-27 begin -->
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_STATE_CHANGED" />
            </intent-filter>
            <!-- add by liang.zhang for Defect 5769404 at 2017-12-27 end -->
        </receiver>

        <!-- Select Subscription (SUB1 or SUB2) Screen -->
        <activity android:name="SelectSubscription"
                  android:label="@string/select_subscription_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="CellBroadcastChannel50Alerts"
            android:label="@string/cell_broadcast_sms_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    <!--[FEATURE]-Add-BEGIN by TSNJ.Anming.Wei,29/08/2013,FR-467596,                  -->
    <!--[SMS]Cell broadcast SMS support-->
        <activity android:name=".CBMSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/CbHolo_Ex_Theme_M">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!-- [FEATURE]-Add-BEGIN by TCTNB.yugang.jia,09/26/2013,516039,-->
        <activity android:name=".ChannelSetActivity"
            android:label="@string/channel_label"
            android:theme="@style/ChannelSetActivityTheme">
        </activity>
        <!-- [FEATURE]-Add-END by TCTNB.yugang.jia,09/26/2013,516039,-->
    <!--[FEATURE]-Add-END by TSNJ.Anming.Wei-->

    <!--[FEATURE]-Add-BEGIN by TSNJ.wei.li, PR-809569,
           add Andorid L feature-->
        <provider
                android:name="CellBroadcastSearchIndexableProvider"
                android:authorities="com.android.cellbroadcastreceiver"
                android:multiprocess="false"
                android:grantUriPermissions="true"
                android:permission="android.permission.READ_SEARCH_INDEXABLES"
                android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>
    <!--[FEATURE]-Add-END by TSNJ.wei.li, PR-809569,-->
    </application>
</manifest>
<!--[FEATURE]-Mod-END by TCTNB.wei.guo-->


